HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
src/main/resources/application-ifly.properties
*.m4a
*.amr
*.mp3
*.wav
*.pcm
*.opus
*.flac
*.speex
*.silk
*.mp4
*.mkv
*.avi
*.rmvb

